USE [master]
GO
/****** Object:  Database [VOVINAM_SCORE_MNG]    Script Date: 3/20/2023 8:05:33 AM ******/
CREATE DATABASE [VOVINAM_SCORE_MNG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VOVINAM_SCORE_MNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VOVINAM_SCORE_MNG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VOVINAM_SCORE_MNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VOVINAM_SCORE_MNG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VOVINAM_SCORE_MNG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VOVINAM_SCORE_MNG]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 3/20/2023 8:05:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](255) NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[ACC_RULE] [int] NOT NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[FULL_NAME] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 3/20/2023 8:05:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[CODE] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ACCOUNT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANK]    Script Date: 3/20/2023 8:05:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[LIMIT_SCORE] [int] NULL,
	[MAX_SCORE] [int] NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORE]    Script Date: 3/20/2023 8:05:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STUDENT_ID] [int] NULL,
	[SCORE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 3/20/2023 8:05:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULL_NAME] [nvarchar](255) NULL,
	[CODE] [nvarchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[CLASS_ID] [int] NULL,
	[RANK_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [USERNAME], [PASSWORD], [ACC_RULE], [ADDRESS], [PHONE], [FULL_NAME]) VALUES (1, N'Admin', N'123', -1, N'Hà Nội', N'3536363334', N'Nguyễn Nhật Minh')
INSERT [dbo].[ACCOUNT] ([ID], [USERNAME], [PASSWORD], [ACC_RULE], [ADDRESS], [PHONE], [FULL_NAME]) VALUES (2, N'Kha', N'123', 0, N'Hà Nội', N'63225242', N'Đỗ Kinh Kha')
INSERT [dbo].[ACCOUNT] ([ID], [USERNAME], [PASSWORD], [ACC_RULE], [ADDRESS], [PHONE], [FULL_NAME]) VALUES (3, N'Dat', N'123', 0, N'Hà Nội', N'35334552', N'Bùi Tuấn Đạt')
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASS] ON 

INSERT [dbo].[CLASS] ([ID], [NAME], [CODE], [DESCRIPTION], [ACCOUNT_ID]) VALUES (1, N'Lớp võ thầy Kha', N'FU37994', N'Thầy Kha dạy', 2)
INSERT [dbo].[CLASS] ([ID], [NAME], [CODE], [DESCRIPTION], [ACCOUNT_ID]) VALUES (3, N'Lớp võ thầy Dat', N'FU18495', N'Thầy Dat dạy', 3)
INSERT [dbo].[CLASS] ([ID], [NAME], [CODE], [DESCRIPTION], [ACCOUNT_ID]) VALUES (4, N'Lớp võ thầy Long', N'FU19363', N'Thầy Long dạy', 4)
SET IDENTITY_INSERT [dbo].[CLASS] OFF
GO
SET IDENTITY_INSERT [dbo].[RANK] ON 

INSERT [dbo].[RANK] ([ID], [NAME], [LIMIT_SCORE], [MAX_SCORE], [Image]) VALUES (1, N'Lam Đai Trơn', 1, 3, N'https://upload.wikimedia.org/wikipedia/vi/1/14/Nhap_mon_vovinam.png')
INSERT [dbo].[RANK] ([ID], [NAME], [LIMIT_SCORE], [MAX_SCORE], [Image]) VALUES (2, N'Lam Đai Nhất ', 3, 5, N'https://upload.wikimedia.org/wikipedia/vi/a/a7/Lam_dai_I.png')
INSERT [dbo].[RANK] ([ID], [NAME], [LIMIT_SCORE], [MAX_SCORE], [Image]) VALUES (4, N'Lam Đai Nhị', 5, 7, N'https://upload.wikimedia.org/wikipedia/vi/d/df/Lam_dai_II.png')
SET IDENTITY_INSERT [dbo].[RANK] OFF
GO
SET IDENTITY_INSERT [dbo].[SCORE] ON 

INSERT [dbo].[SCORE] ([ID], [STUDENT_ID], [SCORE]) VALUES (2, 2, 5)
INSERT [dbo].[SCORE] ([ID], [STUDENT_ID], [SCORE]) VALUES (3, 3, 8)
INSERT [dbo].[SCORE] ([ID], [STUDENT_ID], [SCORE]) VALUES (4, 1, 9)
SET IDENTITY_INSERT [dbo].[SCORE] OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENT] ON 

INSERT [dbo].[STUDENT] ([ID], [FULL_NAME], [CODE], [ADDRESS], [PHONE], [CLASS_ID], [RANK_ID]) VALUES (1, N'Nguyễn Nhật Minh', N'HE22233', N'Hà Nội', N'164016510', 6, 6)
INSERT [dbo].[STUDENT] ([ID], [FULL_NAME], [CODE], [ADDRESS], [PHONE], [CLASS_ID], [RANK_ID]) VALUES (2, N'Nguyễn Quang Minh ', N'HE76087', N'Hà Nội ', N'0388270671', 1, 4)
INSERT [dbo].[STUDENT] ([ID], [FULL_NAME], [CODE], [ADDRESS], [PHONE], [CLASS_ID], [RANK_ID]) VALUES (3, N'Vũ Văn Hải', N'HE38009', N'Hải Dương', N'4545633634', 4, NULL)
SET IDENTITY_INSERT [dbo].[STUDENT] OFF
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([CLASS_ID])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([RANK_ID])
REFERENCES [dbo].[RANK] ([ID])
GO
USE [master]
GO
